<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulario de Gastos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Formulario de Gastos</h2>
        </div>
        <div class="card-body">
            <form action="/guardar-gasto" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="monto" class="col-sm-2 col-form-label">Monto:</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="monto" name="monto" required>
                    </div>
                    
                     <label for="fecha" class="col-sm col-form-label">Fecha:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="categoria" class="col-sm-2 col-form-label">Categoría:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="categoria" name="categoria" required>
                            <!-- Aquí cargar las opciones de categorías desde el controlador -->
                            <option value="comida">Comida</option>
                            <option value="transporte">Transporte</option>
                            <!-- ... -->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="establecimiento" class="col-sm-2 col-form-label">Establecimiento:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="establecimiento" name="establecimiento">
                            <!-- Aquí cargar las opciones de establecimientos desde el controlador -->
                            <option value="supermercado">Supermercado</option>
                            <option value="tienda">Tienda</option>
                            <!-- ... -->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="presupuesto" class="col-sm-2 col-form-label">Presupuesto:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="presupuesto" name="presupuesto">
                            <!-- Aquí cargar las opciones de establecimientos desde el controlador -->
                            <option value="vacaciones">Vacaciones</option>
                            <option value="compras">Compras</option>
                            <!-- ... -->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="foto" class="col-sm-2 col-form-label">Subir Foto:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control-file" id="foto" name="foto">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="#" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
