<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="ISO-8859-1">
	<title>Categorias</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>
	<div class="container">
		<a th:href="@{/categorias/add}" class="btn btn-primary">Agregar Categoria</a>
		<br><br>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Descripcion</th>
			</tr>
			<tr th:each="categoria : ${categorias}">
				<td th:text="${categoria.id}"></td>
				<td th:text="${categoria.nombre}"></td>
				<td th:text="${categoria.descripcion}"></td>
			</tr>
		</table>
	</div>

</body>

</html>