<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="ISO-8859-1">
	<title>Presupuestos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#"><img src="/img/quegastoicon.png" width="30" height="30"
					class="d-inline-block align-top" alt="">
				Que Gasto?</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<span class="navbar-text mr-2">¡Bienvenido, <span th:text="Esteban"></span>!</span>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="../presupuestos/">Presupuestos <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="../gastos/add">Gastos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="../categorias/">Categorias</a>
						</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Editar Perfil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Cerrar Sesión</a>
					</li>
				</ul>
			</div>
		</nav>



		<a th:href="@{/presupuestos/add}" class="btn btn-primary">Agregar Presupuesto</a>

		<table class="table">
			<tr>
				<th>Name</th>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th>Monto</th>
				<th>Descripcion</th>
				<th>Acciones</th>

			</tr>
			<tr th:each="presupuesto : ${presupuestos}">
				<td th:text="${presupuesto.nombre}"></td>
				<td th:text="${presupuesto.fecha_comienzo}"></td>
				<td th:text="${presupuesto.fecha_fin}"></td>
				<td th:text="${presupuesto.monto}"></td>
				<td th:text="${presupuesto.descripcion}"></td>
				<td>
					<button class="btn btn-danger btn-sm" onclick="eliminarProducto(this)">Eliminar</button>
					<a th:href="@{/editarPresupuesto/{id}(id=${presupuesto.id})}" class="btn btn-info btn-sm">Editar</a>
					<a th:href="@{/gastos/add/{id}(id=${presupuesto.id})}" class="btn btn-success btn-sm">Agregar Gasto</a>
				</td>
			</tr>
		</table>
	</div>



</body>

</html>